<div id="recipes" class="container position-relative my-4 bg-white rounded-3 p-0 "  style="height: 80vh;  overflow: hidden">
    <div class="my-2 text-center  p-4 row d-flex justify-content-center align-items-center" style="height: 90px" >
      <h1 class="fw-bold"><%= @recipe.title %></h1>
    </div>
  <div class=" row ">
    <div class="col-8 d-flex flex-column justify-content-start align-items-start">
      <h3 class="mx-4">instruction:</h3>
      <p class="text-start lh-lg mx-4" style="white-space: pre-line;"><%= @recipe.instruction %></p>
    </div>
    <div class="col-4 text-start lh-1 d-flex flex-column  justify-content-start align-items-start">
      <h3 class="p-2">ingredients:</h3>
      <% @recipe.ingredients.each do |ingredient| %>
      <p ><%=ingredient["item"] %>:<%=ingredient["amount"]%></p>
      <%end%>
    </div>

  </div>
<ul class="list-unstyled position-absolute d-flex bottom-0 justify-content-between align-items-center w-100 bg-black text-white m-0"
    style="height: 60px; padding: 0 1rem;">
      <li >category: <%= @recipe.category %></li>
      <li >required time: <%= @recipe.required_time %></li>
      <li >difficulty level: <%= @recipe.difficulty_level %></li>
      <li >serves: <%=@recipe.serves %></li>
    </ul>

</div>
