<footer class="footer d-flex justify-content-between align-items-center">
  <div class="footer-icons d-flex gap-4">
    <%= link_to "#" do %>
      <%= image_tag "github.svg", alt: "GitHub", class: "icon" %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag "x.svg", alt: "Twitter", class: "icon" %>
    <% end %>
  </div>

  <div class="footer-links">
    <%= link_to "Privacy and cookies policy", "#" %>
    <%= link_to "Terms of use", "#" %>
    <span>© SmartRecipes2025</span>
  </div>
</footer>
